<h1>Events</h1>
<p> This Calendar allows you to see a whole month of fun!</p>
<div id="calendar">
  <h2 id="month">

    <%=h @date.strftime("%B %Y") %>
    

  </h2> 
  <%= calendar_for (@mainevents), :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :date) do |date, mainevents| %>
      <%= date.day %>
      <ul>
        <% for mainevent in mainevents %>
          <li><%= link_to h(mainevent.name), mainevent %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<%= link_to 'New Mainevent', new_mainevent_path %>


<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <div class="container">
            <ul class="nav events">
              <th>Name</th>
              <th>Date</th>
              <th>Description</th>
              <th>Image</th>
              <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @mainevents.each do |mainevent| %>
          <tr>
            <td><%= mainevent.name %></td>
            <td><%= mainevent.date %></td>
            <td><%= mainevent.description %></td>
            <td><%= image_tag mainevent.image %></td>
            <td><%= link_to 'Show', mainevent %></td>
            <td><%= link_to 'Edit', edit_mainevent_path(mainevent) %></td>
            <td><%= link_to 'Destroy', mainevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% if user_signed_in? %>
            <td><%= link_to "Book", new_booking_path(:event => mainevent.id) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Mainevent', new_mainevent_path %>
